{
  "plugins": [
    ["babel-plugin-emotion"],
    [
      "babel-plugin-module-resolver",
      {
        "root": ["."],
        "alias": {
          "components": "./components",
          "pages": "./pages",
          "styles": "./styles"
        },
        "cwd": "babelrc"
      }
    ]
  ],
  "presets": ["next/babel"]
}
